/* 바디 */
body {
  margin: 0px 0px;
}

/* 헤더 */
#header {
  background-color: #DCD6D0;
  height: 100px;
}

/* 메인 */
.main-container {
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  position: absolute;
  top: 140px;
  left: 100px;
  font-size: 32px;
  font-weight: 700;
}

.main-small-title {
  position: absolute;
  top: 190px;
  left: 580px;
  font-size: 24px;
}

/* form 박스 */
.main-form-box {
  /* background-color: aqua; */
  width: 900px;
  height: 470px;
  /* padding: 25px 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form-title {
  width: 100%;
  font-size: 15px;
}

.main-form-title span {
  color: #D9D9D9;
  font-size: 15px;
}

/* input 컨테이너 */
.main-input-container {
  background-color: #D9D9D9;
  width: 100%;
  height: 380px;

}

/* form 행 */
.main-input-list {
  /* background-color: aquamarine; */
  width: 100%;
  height: 75px;
  display: flex;
}

/* form 왼쪽 box */
.main-input-name {
  width: 120px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
}

/* form 오른쪽 box */
.main-input-box {
  background-color: white;
  width: 770px;
  height: 70px;
  margin: 5px 5px;
  /* line-height: 65px; */
}

/* 회원정보 입력 칸 */
.main-input-box input {
  margin: 0px 0px 0px 10px;
  font-size: 15px;
}

/* 기타 버튼 */
.main-input-box button {
  margin: 0px 0px 0px 10px;
}

/* 입력 오류 메시지 */
.main-error-message {
  margin: 5px 0px 0px 10px;
  color: red;
  font-size: 10px;
}

/* 다음, 취소 버튼 */
.main-button-container {
  position: absolute;
  bottom: 205px;
}

.main-button-container button {
  background-color: #DCD6D0;
  width: 185px;
  height: 60px;
  margin: 0px 10px;
  cursor: pointer;
}

.main-button-next {
  border: 2px solid black;
  background-color: #DCD6D0;
  width: 181px;
  height: 56px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

.main-button-container a {
  margin: 0px 10px;
}

.main-button-cancel {
  border: 2px solid black;
  background-color: #efefef;
  width: 181px;
  height: 56px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

/* 푸터 */
#footer {
  background-color: #DCD6D0;
  height: 100px;
  width: 100%;
}