.team-footer-container{
  display: flex;
  flex-direction: column;
  background-color: #F15A29;
  height: 100px;
  width: 100%;
}

.team-footer-container a{
  margin: 5px; 
  color: white;
  font-size: 14px;
}