header{
  height: 150px;
  border: 1px solid black;
}
footer{
  height: 100px;
  border: 1px solid black;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.youtube-section {
  margin: 150px auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 24px;
  margin-left: 50px;
}

.more-link,
.site-link {
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin-right: 50px;
}

.header-links {
  display: flex;
  gap: 16px;
}

.team-youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.last-youtube,
.next-youtube {
  background: none;
  border: none;
  font-size: 40px;
  color: black;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.last-youtube:hover,
.next-youtube:hover{
  transform: scale(1.2);
}

.thumb-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.thumb {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #898989;
  transition: all 0.2s;
}

.thumb:hover {
  background-color: #eee;
  cursor: pointer;
}

.thumb a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
