header {
  background-color: #DCD6D0;
  height: 100px;

}

.main-contentbox {
  background-color: #efefef;
  width: 500px;
  height: 510px;
  margin: 100px auto;
}

footer {
  background-color: #DCD6D0;
  height: 100px;
}