/* 바디 */
body {
  margin: 0px 0px;
}

/* 메인 */
main {
  width: 1200px;
  min-height: 800px;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
  transform: translateY(0px);
  /* justify-content: center; */
  display: flex;
  margin: 0 auto;
}

/* 메인 컨테이너 */
.main-container {
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 페이지 작은 제목 */
.main-small-title {
  width: 1000px;
  font-size: 24px;
  font-weight: 700;
  text-align: start;
}

/* 가운데 박스 */
.main-message-container {
  background-color: #efefef;
  border: 1px solid black;
  width: 1000px;
  height: 800px;
  margin: 20px 0px 60px 0px;
  padding: 25px 0px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 리스트 컨테이너 */
.list-container {
  border: 1px solid black;
  width: 800px;
  margin: 50px 0px 0px 0px;
  min-height: 600px;
}

/* 목록 상단 바 */
.top-bar {
  background-color: #DCD6D0;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 공지사항 리스트 */
.notice-list {
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 공지사항 제목 a 태그 */
.notice-list a {
  color: black;
  flex: 1;
  text-decoration: none;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 공지사항 제목 a 태그 호버 */
.notice-list a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* 글 번호 */
.page-number {
  width: 60px;
  text-align: center;
}

/* 제목 */
.post-title {
  width: 500px;
  text-align: start;
}

/* 상단 바 > 제목 텍스트 */
.top-bar>.post-title {
  text-align: center;
}

/* 작성 일자 */
.upload-date {
  width: 100px;
  margin: 20px;
  text-align: center;
}

/* 페이지네이션 컨테이너 */
.page-container {
  width: 205px;
  height: 22px;
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

/* 페이지 버튼 */
.page-num {
  background-color: #f5f5f5;
  border: 1px solid black;
  width: 15px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  color: black;
}

/* 페이지 첫번째 버튼 */
.page-num:nth-child(1) {
  background-color: #DCD6D0;
}

/* 페이지 버튼 a태그 */
.page-num a {
  color: black;
  text-decoration: none;
}

/* 페이지 버튼 a태그 첫번째 */
.page-num:nth-child(1) a {
  color: white;
}

/* 페이지 버튼 a태그 호버 */
.page-num a:hover {
  text-decoration: underline;
}

/* 오른쪽 화살표 버튼 */
.arrow-button {
  width: 15px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

/* 오른쪽 화살표 버튼 a태그 */
.arrow-button a {
  color: #DCD6D0;
  text-decoration: none;
}

/* 오른쪽 화살표 버튼 a 태그 호버 */
.arrow-button a:hover {
  text-decoration: underline;
}