/* 바디 : 전체 화면 */
body {
  /* background-color: white; */
  margin: 0px 0px;
}

/* 모달창 */
.modal-window {
  background-color: white;
  width: 725px;
  height: 660px;
  /* margin: auto; */
  z-index: 200;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* 모달창 체크박스, 약관이름 */
.term-checkbox {
  width: 700px;
  margin: 10px 0px 5px 0px;
}

.term-checkbox span {
  font-weight: 700;
}

/* 모달창 약관 텍스트 네모칸 */
.term-text-box {
  border: 1px solid black;
  width: 700px;
  height: 600px;
  overflow-y: scroll;
}

/* 모달창 확인, 취소 버튼 컨테이너*/
.modal-button-container {
  z-index: 200;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
}

/* .modal-button-container button {
  background-color: #DCD6D0;
  width: 185px;
  height: 60px;
  margin: 0px 10px;
  cursor: pointer;
} */

.modal-button-agree {
  border: 2px solid black;
  background-color: #DCD6D0;
  width: 181px;
  height: 56px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

.modal-button-container a {
  margin: 0px 10px;
}

.modal-button-cancel {
  border: 2px solid black;
  background-color: #efefef;
  width: 181px;
  height: 56px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

/* 전체 화면 */
.full-screen {
  filter: brightness(0.5);
  z-index: 150;
  pointer-events: none;
  user-select: none;
}

/* 헤더 */
/* #header {
  background-color: #DCD6D0;
  height: 100px;
} */

/* 메인 */
.main-container {
  background-color: white;
  width: 100%;
  min-height: 750px;
  display: flex;
  justify-content: center;
}

.main-title {
  position: absolute;
  top: 140px;
  left: 100px;
  font-size: 32px;
  font-weight: 700;
}

.main-small-title {
  position: absolute;
  top: 190px;
  left: 430px;
  font-size: 24px;

}

/* form 컨테이너 */
.main-form-box {
  min-height: 600px;
  margin: 150px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 약관 체크박스, 네모칸 */
.main-term-container {
  height: 50px;
  display: flex;
  margin: 10px 0px;
  align-items: center;
}

.main-checkbox {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}

.main-checkbox input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.315);
  width: 20px;
  height: 20px;
}

/* 약관 버튼 */
.main-term-box {
  background-color: #DCD6D0;
  width: 1000px;
  height: 50px;
  padding: 0px 0px 0px 20px;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  color: black;
}

.main-term-box:hover {
  filter: brightness(0.9);
}

/* 다음, 취소 버튼 */
.main-button-container {
  position: absolute;
  bottom: 100px;
}


/* 다음, 취소 버튼 */
.main-button-container button {
  background-color: #DCD6D0;
  width: 185px;
  height: 60px;
  margin: 0px 10px;
  cursor: pointer;
}

.main-button-next {
  display: inline-block;
  font-size: 15px;
}

.main-button-container a {
  margin: 0px 10px;
}

.main-button-cancel {
  border: 2px solid black;
  background-color: #efefef;
  width: 181px;
  height: 56px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

/* 푸터 */
/* #footer {
  background-color: #DCD6D0;
  height: 100px;
  width: 100%;
} */