/* 바디 */
body {
  margin: 0px 0px;
}

/* 헤더 */
/* #header {
  background-color: #DCD6D0;
  height: 100px;

} */

/* 메인 */
.main-container {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-title {
  position: absolute;
  top: 140px;
  left: 100px;
  font-size: 32px;
  font-weight: 700;
}

/* 박스 제목 */
.main-message-title {
  width: 850px;
  font-size: 15px;
  margin: 140px 0px 0px 0px;
}

.main-message-title span {
  color: #D9D9D9;
  font-size: 15px;
}

.main-container form {
  margin: 0px auto;
}

/* 메시지 박스 */
.main-message-container {
  background-color: #efefef;
  width: 850px;
  height: 220px;
  padding: 25px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 회원가입 완료 메시지 */
.main-result-message {
  font-size: 24px;
  font-weight: 700;
  /* margin: 100px 0px 0px 0px; */
}

/* 회원가입 후 안내 메시지 */
.main-info-message {
  margin: 100px 0px 0px 0px;
}

/* 다음, 취소 버튼 컨테이너*/
.main-button-container {
  position: absolute;
  bottom: 310px;
}

.main-button-container button {
  background-color: #DCD6D0;
  width: 185px;
  height: 60px;
  margin: 0px 10px;
  cursor: pointer;
}

.main-button-next {
  border: 2px solid black;
  background-color: #DCD6D0;
  width: 181px;
  height: 56px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

.main-button-container a {
  margin: 0px 10px;
}

.main-button-cancel {
  border: 2px solid black;
  background-color: #efefef;
  width: 181px;
  height: 56px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

/* 푸터 */
/* #footer {
  background-color: #DCD6D0;
  height: 100px;
  width: 100%;
} */