/* --------------------------------------------------------기초 설정------------------------------------------------------------ */

* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

/* 바디 공간 만들어주기 */
body ,html{
	height: 100%;
}

body{
	background-color: #EFEFEF;
}

/* 왼쪽에 있을 사이드 메뉴와 본 페이지 메뉴를 나눠줄 flex 제공 */
main {
  width: 100%;
	min-height: 100vh;
	height: fit-content;
	padding-top: 100px;
	padding-bottom: 100px;
	transform: translateY(-100px);
  justify-content: center;

	display: flex;
}

/* 배경 */
.section-background{
  min-width: 80%;
  min-height: 100vh;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-date, .section-post{
  width: 95%;
}

/* 본문 배경 */

.section-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 제목 서식 */
.post-title-container{
  height: 4vh;
  width: 100%;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.title, .author{
  font-size: 15px;
  height: 100%;
  display: flex;
}

/* 본문 서식 */
.post-content-container{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-content{
  font-size: 15px;
  height: 80vh;
  border: 1px solid black;
  padding: 3px 15px;
}

/* 하단 버튼 */
.section-bottom-buttons{
  margin: 5px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

/* 하단 메뉴 */

.section-bottom{
  display: flex;
  height: 5vh;
  width: 95%;
  justify-content: space-between;
}

.section-bottom>div>a{
  color:lightgray;
}

.post-button{
  width: 100px;
  height: 30px;
}

.section-bottom-buttons>form>button:first-child{
  background-color: #4D5061;
  color:white
}

.section-bottom-buttons>form>button:last-child{
  background-color: white;
  color:black
}

.line{
  border: 1px solid black;
  width: 100%;
  margin: 10px;
}