/* --------------------------------------------------------기초 설정------------------------------------------------------------ */

* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

/* 바디 공간 만들어주기 */
body ,html{
	height: 100%;
}

body{
	background-color: #EFEFEF;
}

/* 왼쪽에 있을 사이드 메뉴와 본 페이지 메뉴를 나눠줄 flex 제공 */
main {
  width: 100%;
	height: fit-content;
	padding-top: 100px;
	padding-bottom: 100px;
	transform: translateY(-100px);
  justify-content: center;

	display: flex;
}

/* 배경 */
.section-background{
  min-width: 80%;
  min-height: fit-content;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-date, .section-post{
  width: 95%;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* 상단 요소들 */
.section-top-menus{
  width: 95%;
  height: 10%;
  
  display: flex;
  justify-content: space-between;
}
/* ======================================================================================== */
/* 중단 요소들 */
.section-middle-menus{
  width: 95%;
  height: fit-content;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 상품 사진이랑 카테고리 날짜 */
.product-info-container{
  display: flex;
  flex-direction: column;
}

/* 상품 사진 들어갈 공간-> 슬라이드로 간다 */
.product-image{
  border: 1px solid black;
  position: relative;
  width: 40vh;
  height: 40vh;
}

/* 사진 슬라이드 버튼 */
.product-slide-buttons{
  position: absolute;
  width: 40vh;
  transform: translateY(-22vh);
  display: none;
  justify-content: space-between;
  align-content: center;
}

/* 호버 할때만 보이게 */
.product-image:hover .product-slide-buttons{
  display: flex;
}

/* 이미지 크기조정 */
.product-image>img{
  object-fit: fill;
  width: 40vh;
  height: 40vh;
}

/* 상품 디테일 */
.product-detail-container{
  background-color : #EFEFEF;
  border: 1px solid black;
  min-width: 60vh;
  width: 100vh;
  min-height: 40vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

/* 상품 이름 */
.product-info{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product-info>div{
  border: 1px solid black;
  background-color: white;
  min-width: 70vh;
  width: 85vh;
  height:  30px;
  margin-left:5px;
  padding: 0 5px;
}

/* 상품 가격 */
.product-price{
  display: flex;
  width: 100%;
  margin: 10px 0;
  font-size: 32px;
  font-weight: bold;
}

.product-price>div{
  height: 30px;
  width: 50%;
  margin-left: 5px;
}
/* ======================================================================================== */

/* 하단 메뉴 */
.section-bottom-menus{
  width: 95%;
  height: fit-content;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

/* -------------------------------------------------------------------------------------------- */
/* 메뉴 공통 */
.section-bottom-menus, .section-middle-menus, .section-top-menus{
  margin: 5px 0;
}

/* 선 */
.line{
  border: 1px solid black;
  width: 100%;
  margin: 10px;
}

/* 버튼 서식 */
.post-button{
  width: 100px;
  height: 30px;
  background-color: #4D5061;
  color: white;
}