/* 바디 */
body {
  margin: 0px 0px;
}

/* 헤더 */
#header {
  background-color: #DCD6D0;
  height: 100px;
}

/* 검색 컨테이너 */
.search-container {
  background-color: #DCD6D0;
  width: 100vw;
  height: 100px;
  /* padding: 0px 50px; */
  display: flex;
  justify-content: center
}

/* 검색창 */
.search-container input {
  width: 75vw;
  height: 80px;
  margin: 0 30px 0px 50px;
  padding: 0px 0px 0px 30px;
  font-size: 24px;
}

/* 검색 버튼 */
.search-container button {
  background-color: #efefef;
  width: 15vw;
  height: 80px;
  margin: 0px 50px 0px 0px;
  font-size: 24px;
  font-weight: 800;
}

.search-container button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

/* 메인 */
.main-container {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 상품 등록 전체 컨테이너 */
.register-container {
  width: 1315px;
  height: 660px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* 이미지 컨테이너 */
.img-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* 이미지 박스 */
.img-box {
  background-color: #D9D9D9;
  width: 100px;

}

.img-box img {
  width: 100px;
  height: 100px;
}

/* 중간 컨테이너 */
.middle-container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

/* 상품 명 입력 컨테이너 */
.name-input-container {
  background-color: #F5F5F5;
  width: 100%;
  height: 100px;
  margin: 0px 0px 35px 0px;
}

/* 에러 메시지 */
.register-error-message {
  margin: 10px 0px 0px 25px;
  font-size: 15px;
  color: red;
}

/* 상품 명 텍스트 */
.product-name-text {
  margin: 0px 0px 0px 25px;
  font-size: 24px;
  font-weight: 700;
}

.product-name-text input {
  background-color: transparent;
  font-size: 24px;
}

/* 카테고리 입력 컨테이너 */
.category-input-container {
  background-color: #F5F5F5;
  width: 100%;
  height: 527px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* '카테고리 설정' */
.product-category-text {
  border-bottom: 1px solid black;
  width: 100%;
  height: 65px;
  font-size: 24px;
  font-weight: 700;
}

/* '팀 선택' */
.product-team-text {
  border-bottom: 1px solid black;
  width: 500px;
  margin-top: 15px;
  font-size: 15px;
}

/* 로고 컨테이너 */
.logo-container {
  width: 500px;
  margin: 10px 0px;
  display: flex;
  gap: 15px 50px;
  flex-wrap: wrap;
}

/* 로고 img */
.logo img {
  width: 60px;
  height: 60px;
}

/* '굿즈 종류 선택' */
.product-type-text {
  border-bottom: 1px solid black;
  width: 500px;
  font-size: 15px;
  font-weight: 700;
}

/* 굿즈 종류 */
.product-type {
  width: 500px;
  font-size: 15px;
  margin: 5px 0px;
}

/* 오른쪽 컨테이너 */
.right-container {
  background-color: #f5f5f5;
  width: 500px;
  height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* '상품 설명' */
.product-explain-text {
  width: 440px;
  font-size: 15px;
}

/* 상품 설명 칸 */
.product-explain-blank textarea {
  border: 1px solid black;
  width: 440px;
  height: 340px;
}

/* 희망 지역 입력 컨테이너 */
.trade-location-container {
  width: 440px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

/* 거래 방식 입력 컨테이너 */
.trade-method-container {
  border-bottom: 1px solid black;
  width: 440px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

/* 아래 끝 컨테이너 */
.bottom-container {
  width: 440px;
}

/* 상품 가격 텍스트 */
.price-container {
  border-bottom: 1px solid black;
  width: 260px;
}

.price-container div {
  font-size: 15px;
  margin-right: 20px;
}

.price-container input {
  width: 155px;
  height: 50px;
  font-size: 15px;
}

/* 상품 등록, 취소 버튼 */


/* 긴 검은선 */
.long-line {
  width: 790px;
  border-bottom: 1px solid black;
}

/* 짧은 검은선 */
.short-line {
  width: 710px;
  border-bottom: 1px solid black;
}

/* 버튼 컨테이너 */
.main-button-container {
  position: absolute;
  bottom: 90px;
}

.main-button-container button {
  background-color: #DCD6D0;
  width: 185px;
  height: 60px;
  margin: 0px 10px;
  cursor: pointer;
}

.main-button-next {
  border: 2px solid black;
  background-color: #DCD6D0;
  width: 80px;
  height: 50px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

.main-button-container a {
  margin: 0px 10px;
}

.main-button-cancel {
  border: 2px solid black;
  background-color: #efefef;
  width: 80px;
  height: 50px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
}

/* 푸터 */
#footer {
  background-color: #DCD6D0;
  height: 100px;
  width: 100%;
}