/* --------------------------------------------------------기초 설정------------------------------------------------------------ */

* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

/* 바디 공간 만들어주기 */
body ,html{
	height: 100%;
}

body{
	background-color: #EFEFEF;
}

/* 왼쪽에 있을 사이드 메뉴와 본 페이지 메뉴를 나눠줄 flex 제공 */
main {
	min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
	transform: translateY(-100px);

	display: flex;
}

li{
	list-style-type: none;
}

/* -------------------------------------------------------사이드 메뉴 ----------------------------------------------------- */
.body-sidebar {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.sidebar-div-name {
	padding-left: 10%;
	font-size: 32px;
	font-weight: bold;
	width: 100%;
	min-height: 100px;
	align-content: end;
}

.sidebar-div-info {
	padding-left: 10%;
	min-height: 150px;
}

.sidebar-div-info>div{
	justify-content: center;
	
}

.sidebar-div-info>div>div{
	margin-left: 10%;
	margin-top: 6%;
	color:white;
	font-size: 15px;
}

.sidebar-div-info>div{
	border: 1px solid black;
	background-color: black;
	width: 80%;
	height: 80%;
}

.sidebar-div-container {
	padding-left: 10%;
	/* min-height: 7vh; */
}

.sidebar-div-container>div {
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 80%;
	min-height: 300px;
}

.sidebar-div-container>div>ul>li:hover{
	background-color: #4D5061;
}

.sidebar-div-container>div>ul{
	min-height: 300px;
	display: flex;
	flex-direction: column;
}

.sidebar-div-container>div>ul>li>a{
	text-decoration: none;
	color: white;
}

.sidebar-elements{
	flex:1;
	border: 1px solid black;
	text-align: center;
	align-content: center;
}

/* ----------------------------------------------------본 페이지 메뉴------------------------------------------------------------------- */
.body-container {
	width: 80%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.body-container-name {
	font-size: 24px;
	width: 74%;
	height: 10%;
  align-content: flex-end;
}

.add-button{
	width: 26%;
	height: 10%;
	 align-content: flex-end;
}

.body-container-list {
	width: 80%;
	height: 90%;
	background-color: white;
	display: flex;
	justify-content: center;
	padding: 3% 0;
}

.body-container-list >div{
	width: 80%;
	height: 100%;
	/* border: 1px solid black; */
}

/* 검색 결과 상단 */
.song-list-category-line{
	margin-top: 4%;
	height: 6%;
	background-color: #4D5061;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.song-list-category-line>*{
	flex:1;
}

.song-list-category-line>div{
	margin: 0 3%;
	color:white;
}
/* ---------------------------------------목록 세팅------------------------------------------------- */
/* 검색 결과(목록) */
.section-recordlist{
  width: 100%;
  min-height: 50vh;
  height: fit-content;
  margin-top: 10px;
}

.list-background{
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.list-container{
  width: 100%;
  min-height: 40vh;
  max-height: 50vh;
  overflow-y: scroll;
  border: 1px solid black;
  scrollbar-width: none;
}

.list-names, .list-ul>li{
  display: flex;
  border: 1px solid black;
  height: 4vh;
  line-height: 4vh;
}

.list-names>div, .list-ul>li>div{
  flex:1;
  padding-left: 10px;
}

.list-names{
  background-color: #4D5061;
  color:white;
}

/* ------------------------------------------------페이지 번호----------------------------------------------------------- */
/* 현재 페이지 번호 */

.page-buttons>form{
	margin: 1px;
	display: flex;
	justify-content: center;
}

.page-buttons>form>ul{
	display: flex;
}

.page-buttons>form>ul>li{
	border: 1px solid black;
	margin: 0 10px;
	width: 25px;
	text-align: center;
}

.page-buttons>form>ul>li:nth-child(1){
	background-color: #4D5061;
	color:white;
}