* {
  margin: 0;
  padding: 0;
}

header {
  height: 150px;
  width: 100%;
  background-color: #DCD6D0;
  padding: 0px;

}

footer {
  height: 100px;
  width: 100%;
  background-color: #DCD6D0;
  align-content: end;

}

.header-container {
  background-color: #DCD6D0;
  width: 100%;
  justify-content: space-between;
}

.team-ranking {
  height: 686px;
  width: 536px;
  display: flex;
  padding: 10%;
  background-color: white;
}

.team-ranking-header {
  background-color: rgb(230, 31, 31);
  height: 10%;
  width: 536;
}

.team-ranking-header-container {
	width: 100%;
  display: flex;
}

.ranking-list {
  background-color: #DCD6D0;
  height: 10%;
  width: 536px;
  text-align: left;

}