* {
  margin: 0;
  padding: 0;
}

header {
  height: 100%;
  width: 100%;
  background-color: #DCD6D0;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #DCD6D0;
}

.team-ranking-header {
  height: 60px;
  width: 600px;
  background-color: white;
}

.team-ranking {
  background-color: rgb(230, 31, 31);
  height: 60px;
  width: 600px;
  padding-left: 3%;
}

.ranking-list {
  background-color: #DCD6D0;
  height: 60px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.ranking-list-team {
  background-color: white;
  height: 60px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.gmae {
  background-color: aqua;
  height: 400px;
  width: 650px;
  display: flex;
}

.game-schedule-group {
  background-color: rgb(230, 31, 31);
  height: 20px;
  width: 600px;
}
.game-schedule-left{
  background-color: white;
  justify-content: space-between;

}
.game-schedule-right{
 justify-content: space-between;
}

.gamebox1 {
  height: 20px;
  width: 600px;
}

.gamebox2 {
  height: 20px;
  width: 600px;
}

.gamebox3 {
  height: 20px;
  width: 600px;
}

.gamebox4 {
  height: 20px;
  width: 600px;
}

.trade {
  background-color: white;
  height: 100px;
  width: 600px;
  display: flex;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #DCD6D0;
  align-content: end;
}