*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4{
  margin-bottom: 20px;
}
ul{
  list-style-type: none;
}
.free-communtiy-container{
  width: 1200px;
  min-height: 800px;
  display: flex;
  margin: 0 auto;
}
.free-communtiy-board,
.free-community-guide{
  max-width: 1000px;
  margin: 40px auto;

}
.free-board-header,
.free-guide-header{
  border: 1px solid #f5f5f5;
  background-color: #DCD6D0;
  font-weight: bold;
}


/* 자유 게시판 */
.free-board-header,
.free-board-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.free-board-more,
.free-guide-more{
  text-align: right;
  margin-bottom: 10px;
}

.free-board-more a,
.free-guide-more a{
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.free-board-more a:hover,
.free-guide-more a:hover{
  text-decoration: underline;
}

.free-board-header div:nth-child(1),
.free-board-list div:nth-child(1) {
  width: 80px;       
  text-align: left; 
  margin-left: 10px;
  text-align: center;
}

.free-board-header div:nth-child(2),
.free-board-list div:nth-child(2) {
  flex: 1;           
  padding-left: 8px; 
  text-align: center;
}

.free-board-header div:nth-child(3),
.free-board-header div:nth-child(4),
.free-board-list div:nth-child(3),
.free-board-list div:nth-child(4) {
  width: 120px;      
  text-align: center;
}

.free-board-list a,
.free-guide-list a{
  color: black;
  text-decoration: none;
}

.free-board-list:hover,
.free-guide-list:hover{
  background-color: #dcd6d04f;
}
/* 입문자 가이드 */
/* 입문자 가이드 행 공통 */
.free-guide-header,
.free-guide-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.free-guide-header div:nth-child(1),
.free-guide-list div:nth-child(1) {
  width: 80px;       
  text-align: center;  
}

.free-guide-header div:nth-child(2),
.free-guide-list div:nth-child(2) {
  flex: 1;           
  text-align: center; 
  color: black;
  text-decoration: none;
}



.free-board-list div> a,
.free-guide-list div> a{

  color: black;
}