*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-news-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background: white;
}
.team-news-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.team-news-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

.team-news-image {
  text-align: center;
  margin-bottom: 20px;
}

.team-news-image img {
  max-width: 100%;
  height: auto;
}

.team-news-content {
  line-height: 2;
  font-size: 14px;
  color: black;
}

.team-news-page {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  background-color: #EFEFEF;
  color: white;
  padding: 5px 10px;
}
