*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
}

.team-news-container{
  margin: 0 40px;
}
.news-box{
  background-color: #F5F5F5;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
h2{
  margin-left: 40px;
}
.news-list{
  list-style: none;
}

.team-news-container #numberlist-ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

/* 현재 페이지 번호 */
.list-pagenumber{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-pagenumber>div{
  margin: 1px;
}

.list-pagenumber>ul{
  display: flex;
}

.list-pagenumber>ul>li{
  border: 1px solid black;
  margin: 0 10px;
  width: 25px;
  text-align: center;
}

.list-pagenumber>ul>li:nth-child(1){
  background-color: #4D5061;
  color:white;
  
}